:root{
    --sliderColor : #FBD7D6;
    --discountPrice : #05A100;
}

.sliders {
    direction: rtl;
}

.sliders img{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.sliders h5{
    display: block;
    text-align: initial;
    margin: 0;
}

.sliders span {
    display: block;
    text-align: initial;
    color: #727376;
}

.sliders p{
    display: block;
    text-align: initial;
    float: right;
    color: #727376;
}

.sliders strong {
    color: var(--discountPrice);
}

.parent-slider {
    background-color: var(--sliderColor) !important;
    height: 300px;
}

.parent-slider .content {
    float: right;
    padding: 0 33px;
}

.parent-slider .content {
    width: 100%;
}

.parent-slider .each_slider{
    width: 220px;
    display: block;
    margin: 0 auto;
}

.slick-next, .slick-prev {
    color: transparent !important;
}

.each_slider img {
    cursor: pointer;
}

